<section class="flex justify-between">
  <section class="w-1/2 mr-6">
    <div
      class="bg-[#EFEFEF] text-center w-max px-16 py-6 border border-[#0034628A] border-dashed rounded-md"
    >
      <div class="">
        <span class="pi pi-image m-auto" style="font-size: 2rem"></span>
        <p>Header Image</p>
      </div>
    </div>
    <section class="mt-5">
      <div class="flex flex-col">
        <label class="text-xs text-black opacity-45" for="">Title</label>
        <input
          class="text-xs border outline-none my-2 p-2 w-[93%] placeholder:text-black placeholder:font-medium"
          placeholder="Simplify Your Life with Our E-Services Platform"
          type="text"
        />
      </div>
      <div class="flex flex-col">
        <label class="text-xs text-black opacity-45" for="">Subtitle</label>
        <input
          class="text-xs border outline-none my-2 p-2 w-[93%] placeholder:text-black placeholder:font-medium"
          placeholder="Unit Management"
          type="text"
        />
      </div>
      <div class="flex flex-col">
        <label class="text-xs text-black opacity-45" for="">Link Text</label>
        <input
          class="text-xs border outline-none my-2 p-2 w-[93%] placeholder:text-black placeholder:font-medium"
          placeholder="Check Tutorial"
          type="text"
        />
      </div>
      <div class="flex flex-col">
        <label class="text-xs text-black opacity-45" for="">Video Link</label>
        <input
          class="text-xs border outline-none my-2 p-2 w-[93%] placeholder:text-black placeholder:font-medium"
          placeholder="https://www.talaatmoustafa.com/"
          type="text"
        />
      </div>
    </section>
  </section>
  <section class="w-1/2 mr-6">
    <div
      class="bg-[#EFEFEF] text-center w-max px-16 py-6 border border-[#0034628A] border-dashed rounded-md"
    >
      <div class="">
        <span class="pi pi-image m-auto" style="font-size: 2rem"></span>
        <p>Header Video</p>
      </div>
    </div>
    <section class="mt-5">
      <div class="flex flex-col">
        <label class="text-xs text-black opacity-45" for="">Title (AR)</label>
        <input
          class="text-xs border outline-none my-2 p-2 w-[93%] placeholder:text-right placeholder:text-black placeholder:font-medium"
          placeholder="منصة الخدمات الإلكترونية الخاصة بنا"
          type="text"
        />
      </div>
      <div class="flex flex-col">
        <label class="text-xs text-black opacity-45" for="">Subtitle (AR)</label>
        <input
          class="text-xs border outline-none my-2 p-2 w-[93%] placeholder:text-right placeholder:text-black placeholder:font-medium"
          placeholder="اداره الوحدة"
          type="text"
        />
      </div>
      <div class="flex flex-col">
        <label class="text-xs text-black opacity-45" for="">Link Text (AR)</label>
        <input
          class="text-xs border outline-none my-2 p-2 w-[93%] placeholder:text-right placeholder:text-black placeholder:font-medium"
          placeholder="شاهد فيديو توضيحي"
          type="text"
        />
      </div>
    </section>
  </section>
</section>
<section class="flex justify-end space-x-3">
  <button
      class="py-2 w-24 text-xs border border-[#003462] text-black items-center rounded-3xl font-medium"
    >
      CANCEL
    </button>
    <button
      class="py-2 w-24 text-xs  text-white items-center bg-blue-950 rounded-3xl font-medium"
    >
      SAVE
    </button>
</section>
