@use "/src/styles/index" as *;
@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
  background-color: #fafafa !important;
  font-family: Montserrat;


}
a{
  text-decoration: none !important;
}
