@font-face {
  font-family: "Montserrat";
  src: url("../../assets/Fonts/Montserrat/Montserrat-Regular.ttf");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/Fonts/Montserrat/Montserrat-Medium.ttf");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/Fonts/Montserrat/Montserrat-Bold.ttf");
  font-display: swap;
  font-weight: 700;
}
